body{
    width: 100vw;
    height: 100vh;
}

.height-header{
    height: 70px;
}

.height-main-sidedbar{
    height: calc(100% - 50px);
}

.sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}


.breadcrumb-item+.breadcrumb-item::before{
    color: white;
}

.badge,
.breadcrumb-item span{
    background-color: #295eb9;
}    

.badge:hover,
.breadcrumb-item span:hover{
    background-color: #102a54;
}



.bg-prossimeclassi{
    background-color: #F7F7F7;
}

.img-tabella{
    max-width: 20px;
}

th,
td{
    text-align: center;
}

th:first-child,
td:first-child{
    text-align: left;
}

.img-destra{
    width: 100%;
}

li{
    list-style: none;
}

.img-table{
    height: 20px;
}

.full-main{
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 768px){
    th:nth-child(2),
    td:nth-child(2){
        display: none;
    }
    
}

@media screen and (max-width: 576px){
    th:nth-child(3),
    td:nth-child(3){
        display: none;
    }
    
}